-#  Copyright (c) 2015, insieme Schweiz. This file is part of
-#  hitobito_insieme and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_insieme.

= field_set_tag t('events.form.contact_details') do
  %p= t('.explanation')
  .control-group
    - (Event::REQUIRED_CONTACT_DETAILS).each do |key|
      = label key, t("activerecord.attributes.person.#{key}"), class: 'control-label'
      .controls
        = contact_detail_radio_button(t('.required'), key, Event::REQUIRED, disabled: true)
      %br

    - (Event::DEFAULT_CONTACT_DETAILS).each do |key|
      = label key, t("activerecord.attributes.person.#{key}"), class: 'control-label'
      .controls
        = contact_detail_radio_button(t('.required'), key, Event::REQUIRED)
        = contact_detail_radio_button(t('.optional'), key, Event::OPTIONAL)
        = contact_detail_radio_button(t('.not_shown'), key)
      %br
